<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="de.sebthom.eclipse.open-with-eclipse Build Target">
    <locations>

        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/cbi/updates/license"/>
            <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
        </location>

        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <!-- Eclipse 2020-09 aka 4.17 is the first release requiring JRE 11 https://wiki.eclipse.org/Eclipse/Installation#Eclipse_4.17_.282020-09.29 -->
            <repository location="https://download.eclipse.org/releases/2020-09/"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
        </location>

        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/eclipse/updates/4.17/"/>
            <unit id="org.eclipse.test.feature.group" version="0.0.0"/>
        </location>

        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://raw.githubusercontent.com/sebthom/eclipse-commons/updatesite/"/>
            <unit id="de.sebthom.eclipse.commons.feature.feature.group" version="0.0.0"/>
        </location>

        <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>net.sf.jstuff</groupId>
                    <artifactId>jstuff-core</artifactId>
                    <version>7.1.0</version>
                    <type>jar</type>
                </dependency>
            </dependencies>
        </location>

        <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            <dependencies>
                <dependency>
                    <groupId>com.vegardit.no-npe</groupId>
                    <artifactId>no-npe-eea-all</artifactId>
                    <version>1.0.0-SNAPSHOT</version>
                    <type>jar</type>
                </dependency>
            </dependencies>
            <repositories>
                <repository>
                    <id>no-npe-snapshots</id>
                    <url>https://raw.githubusercontent.com/vegardit/no-npe/mvn-snapshots-repo/</url>
                </repository>
            </repositories>
        </location>
    </locations>

    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>